body {
    font-family: "Raleway";
}

.container {
    display:inline-block;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
}

#audioFileChooser {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#audioFileChooser + label {
    margin:20px;
    padding:15px;
    background-color:red;
    color:white;
    border-radius: 2px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

#audioFileChooser + label:hover {
    background:black;
}

#playback {
    padding:10px;
}

#detune_Audio {
    margin-left:20px;
}

#reverb_Amount {
    margin-left:20px;
}

#LFO_Rate {
    margin-left:20px;
}

#play {
    margin: 10px;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    background-color:red;
    border: 0px;
    color: white;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

#play:hover {
    background: black;
}

#play:disabled {
    background: grey;
}

#stop {
    margin: 10px;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    background-color:red;
    border: 0px;
    color: white;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

#stop:hover {
    background: black;
}

#stop:disabled {
    background: grey;
}

#upload {
    padding: 0 0 20px 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 2px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: red;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#LFO_Target, #LFO_Wave {
    display: inline-block;
    padding: 10px;
}

.LFO_container {
    vertical-align: top;
    display:inline-block;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
}

#inline {
    display:inline-block;
}

.title {
    vertical-align: top;
    margin:0;
    padding-right: 50px;
}

#rec_Start {
    margin: 10px;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    background-color:red;
    border: 0px;
    color: white;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

#rec_Start:hover {
    background: black;
}

#rec_Start:disabled {
    background: grey;
}

#rec_Stop {
    margin: 10px;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    background-color:red;
    border: 0px;
    color: white;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

#rec_Stop:hover {
    background: black;
}

.record_Container {
    position: absolute;
    margin-top: 5px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
}

#rec_Stop:disabled {
    background: grey;
}